spring:
  application:
    name: evaluation-system
  
  datasource:
    url: jdbc:h2:file:./data/evaluationdb
    driver-class-name: org.h2.Driver
    username: sa
    password: 
  
  h2:
    console:
      enabled: false
  
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        format_sql: false
  
server:
  port: 5000

jwt:
  secret: mySecretKeyForJWTTokenGenerationAndValidation123456789ProductionKey2024
  expiration: 86400000

cors:
  allowed-origins: "*"
